@model QLBH.Models.SanPham
    @using QLBH.Models

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết sản phẩm</h2>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên sản phẩm
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            Đơn vị tính
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Donvitinh)
        </dd>

        <dt>
            Đơn giá
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dongia)
        </dd>

        <dt>
            Loại sản phẩm 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiSP.TenLoaiSP)
        </dd>

        <dt>
           Hình sản phẩm     
        </dt>

        <dd>
            @Html.Image("../../" + Model.HinhSP, "100", "120", "Image Error")
        </dd>
        <dt>

        </dt>
        <dd>
            <br />
            <a class="btn btn-success btn-sm" href="@Url.Action("AddToCart", "GioHang", new {MaSP = Model.MaSP})">
                <span class="glyphicon glyphicon-shopping-cart">Thêm vào giỏ</span>
            </a>
            <a class="btn btn-success btn-sm" href="@Url.Action("Index", "Home", new {MaSP = Model.MaSP})">
                Quay lại
            </a>
            
        </dd>

    </dl>
</div>
